/* education app section start */
.education-app-section{
    padding-top: 100px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 100px;
    background-color: #f0f5ff;
}

.contact-btn{
    width: 150px;
    height: 38px;
    padding-top: 5px;
   background: linear-gradient(76deg,#0000ab ,#0064ab);
     /* border: 1px solid #0000ab; */
     border-radius: 7px;
     color: white;
     margin-bottom: 40px;
}

@media (max-width: 530px) {
    .education-app-section{
          padding-left: 18px;
          padding-right: 18px;
         
      }
  }


/* education app section end */

 /* Improve students section start */

 .improve-students{
    padding-top: 100px;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 100px;
 }
 .improve-students h1{
    margin-bottom: 18px;
    font-family: Poppins;
    font-weight: semibold;
    color: #0000ab;
 }
 .below-heading{
    font-size: 17px;
    margin-bottom: 60px;
 }
.education-app{
    width: 330px;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid rgb(224, 224, 224);
}
.education-app h5{
    margin-top: 20px;
}

 @media (max-width: 530px) {

    .improve-students
    {
          padding-left: 12px;
          padding-right: 12px;  
      }
  }
  

 /* Improve students section end */

 .why-choose-hc{
    padding-top: 100px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 100px;
    background-color: #f0f5ff;
}
.why-hc-text{
    width: 160%;
}
.reason{
    padding: 10px;
    background-color: white;
}
.reason h5{
    color: #001dab;
}

@media (max-width: 650px) {
    .why-choose-hc{
        width: 100%;
        padding-top: 40px;
    }
} 



 /* 
  Faq section start */


  .web-faq-section{
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 130px;
    padding-bottom: 100px;
  }
  .web-faq-section h1{
      margin-bottom: 60px;
  }

  .que{
    padding-top: 26px;
    margin-bottom: 30px;
    border-top: 1px solid rgb(224, 224, 224);
  }
  .que h5{
    margin-bottom: 20px;
  }
  @media (max-width: 530px) {
    .web-faq-section{
          padding-left: 18px;
          padding-right: 18px;
         
      }
  }

  /* Faq section end */