/* avail-of-best section start */

.avail-of-section{
    padding-top: 100px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 100px;
    background-color: #f0f5ff;
}
.avail-of-text{
    width: 600px;
}
.contact-btn{
    width: 150px;
    height: 38px;
    padding-top: 5px;
   background: linear-gradient(76deg,#0000ab ,#0064ab);
     /* border: 1px solid #0000ab; */
     border-radius: 7px;
     color: white;
}

@media (max-width: 530px) {
    .avail-of-section{
          padding-left: 18px;
          padding-right: 18px;
         
      }
  }

  @media (max-width: 650px) {
    .avail-of-text{
        width: 100%;
       
    }
} 

/* avail-of-best section end */


/* diliever-lifestyle section start */

  .diliever-lifestyle{
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 130px;
    padding-bottom: 100px;
  }

  .lifestyle-image{
     margin-bottom: 15px;
  }

  .diliever-lifestyle h1{
    margin-bottom: 18px;
    font-family: Poppins;
    font-weight: semibold;
    color: #0000ab;
  }

  .diliever-lifestyle p{
    font-size: 17px;
    
    margin-bottom: 80px;
  }

  .lifestyle-solution{
      width: 350px;
      padding: 15px;
      height: 270px;
      border-radius: 8px;
      border-left: 1px solid rgb(231, 231, 231);
      border-right: 1px solid rgb(231, 231, 231);
      border-bottom: 4px solid rgb(5, 53, 176);
  }

  @media (max-width: 530px) {
    .diliever-lifestyle{
          padding-left: 18px;
          padding-right: 18px;
         
      }
  }
/* diliever-lifestyle section end */

/* 
  Faq section start */


  .web-faq-section{
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 130px;
    padding-bottom: 100px;
  }
  .web-faq-section h1{
      margin-bottom: 60px;
  }


  .que{
    padding-top: 26px;
    margin-bottom: 30px;
    border-top: 1px solid rgb(224, 224, 224);
  }
  .que h5{
    margin-bottom: 20px;
  }
  @media (max-width: 530px) {
    .web-faq-section{
          padding-left: 18px;
          padding-right: 18px;
         
      }
  }

  /* Faq section end */
